<p class="meta">
    <slot />
</p>
<style>
    .meta {
        /* Not all components need to be fluid */

        font-style: italic;
        margin: 0.25rem 0;
        font-size: 0.75rem;
    }
</style>